:root {
  --clr-primary-red: 12 88% 59%;
  --clr-primary-blue: 228 39% 23%;
  --clr-neutral-100: 233 12% 13%;
  --clr-neutral-300: 227 12% 61%;
  --clr-neutral-700: 13 100% 96%;
  --clr-neutral-900: 0 0% 98%;

  --br-1: var(--sp-8);

  --ff-sans: 'Be Vietnam Pro', sans-serif;

  --fs-900: 2.375rem;
  --fs-800: 1.875rem;
  --fs-700: 1.0625rem;
  --fs-600: 1rem;
  --fs-500: 0.875rem;
  --fs-400: 0.875rem;
  --fs-300: 0.8125rem;
  --fs-200: 0.75rem;
  --fs-100: 0.6875rem;

  --sp-1: 0.25rem;
  --sp-2: 0.5rem;
  --sp-3: 0.75rem;
  --sp-4: 1rem;
  --sp-5: 1.25rem;
  --sp-6: 1.5rem;
  --sp-7: 1.75rem;
  --sp-8: 2rem;
  --sp-9: 2.5rem;
  --sp-10: 2.75rem;
  --sp-11: 2.75rem;
  --sp-12: 3rem;
  --sp-13: 3.25rem;
  --sp-14: 3.75rem;
  --sp-15: 4rem;
  --sp-16: 4.5rem;
  --sp-17: 5.75rem;
  --sp-18: 6.25rem;
  --sp-19: 6.5rem;
  --sp-20: 7rem;
}

@media (min-width: 50em) {
  :root {
    --fs-900: 3.375rem;
    --fs-800: 2.4375rem;
    --fs-500: 1rem;
  }
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: hsl(var(--clr-neutral-300));
}

a {
  text-decoration: none;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* general */
body {
  background-color: white;
  font-family: var(--ff-sans);
  font-size: var(--fs-500);
  line-height: 2;
}

/* utility classes */
.bg-light {
  background-color: hsl(var(--clr-neutral-700));
  color: hsl(var(--clr-primary-blue));
}

.bg-grey {
  background-color: hsl(var(--clr-neutral-900));
  color: hsl(var(--clr-neutral-300));
}

.bg-dark {
  background-color: hsl(var(--clr-neutral-100));
  color: hsl(var(--clr-neutral-900));
}

.bg-red {
  background-color: hsl(var(--clr-primary-red));
  color: hsl(var(--clr-neutral-900));
}

.container {
  padding-inline: var(--sp-4);
  margin-inline: auto;
  max-width: 70rem;
}

.bold {
  font-weight: 700;
}

.fs-300 {
  font-size: var(--fs-300);
  line-height: 1;
}

.fs-400 {
  font-size: var(--fs-400);
  line-height: 2;
}

.fs-600 {
  font-size: var(--fs-600);
  line-height: 1.7;
}

.fs-700 {
  font-size: var(--fs-700);
  line-height: 1.5;
  letter-spacing: -0.05em;
}

.fs-800 {
  font-size: var(--fs-800);
  line-height: 1.5;
}

.fs-900 {
  font-size: var(--fs-900);
  line-height: 1.3;
}

@media (min-width: 50em) {
  .fs-600 {
    line-height: 1.6;
  }

  .fs-800 {
    line-height: 1.1;
  }

  .fs-900 {
    line-height: 1.2;
  }
}

.ls-lg {
  letter-spacing: 0.02em;
}

.ls-md {
  letter-spacing: -0.01em;
}

.ls-sm {
  letter-spacing: -0.03em;
}

.blue-text {
  color: hsl(var(--clr-primary-blue));
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* button */
.button {
  border-radius: var(--br-1);
  height: var(--sp-12);
  display: inline-flex;
  align-items: center;
  padding-inline: var(--sp-8);
  border: none;
  font-weight: 700;
  font-size: var(--fs-300);
  line-height: 1;
}

.button-primary {
  background-color: hsl(var(--clr-primary-red));
  color: hsl(var(--clr-neutral-900));
}

.button:hover {
  filter: brightness(1.3);
}

.button-secondary {
  background-color: hsl(var(--clr-neutral-900));
  color: hsl(var(--clr-primary-red));
}

.title {
}

@media (min-width: 50em) {
  .title {
  }
}
/* hero-section */
.hero-container {
  flex-direction: column-reverse;
  gap: var(--sp-5);
  padding-block: var(--sp-12);
  margin-bottom: var(--sp-5);
}

.hero__header {
  justify-items: center;
  text-align: center;
}

.hero__header .title {
  margin-bottom: var(--sp-2);
}

.hero__header .subtitle {
  margin-bottom: var(--sp-8);
  max-width: 20rem;
}

@media (min-width: 50em) {
  .hero-container {
    flex-direction: row;
    align-items: start;
    padding-block: var(--sp-20);
  }

  .hero__header {
    text-align: left;
    justify-items: start;
  }

  .hero-container > * {
    flex: 1;
  }

  .hero__header .title {
    margin-bottom: var(--sp-8);
  }

  .hero__header .subtitle {
    max-width: 22rem;
    margin-bottom: var(--sp-10);
  }
}
/* features */
.features-container {
  flex-direction: column;
  padding-block: var(--sp-6);
  gap: var(--sp-15);
}

.features__header {
  flex-direction: column;
  gap: var(--sp-3);
  text-align: center;
  padding-inline: var(--sp-8);
  margin-inline: auto;
}

.features {
  padding-left: var(--sp-4);
}

.features-container p {
}

.feature + .feature {
  margin-top: var(--sp-11);
}

.feature__header {
  background-color: hsl(var(--clr-neutral-700));
  color: hsl(var(--clr-primary-blue));
  display: flex;
  align-items: center;
  gap: var(--sp-4);
  border-radius: var(--br-1) 0 0 var(--br-1);
  margin-bottom: var(--sp-2);
}

.feature__header span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--sp-15);
  height: var(--sp-9);
  border-radius: var(--br-1);
  letter-spacing: -0.02em;
}

.feature__body {
  padding-right: var(--sp-4);
}

@media (min-width: 50em) {
  .features-container {
    flex-direction: row;
    gap: var(--sp-7);
    margin-inline: auto;
    max-width: 70rem;
  }

  .features-container p {
  }

  .features-container > * {
    flex: 1;
  }

  .features {
    padding-left: var(--sp-2);
  }

  .features__header {
    gap: var(--sp-8);
  }

  .features__header,
  .features__header .title {
    text-align: left;
  }

  .features__header > p {
    max-width: 22.5rem;
  }
  .feature__header {
    background-color: inherit;
    gap: var(--sp-7);
  }

  .feature__body {
    margin-left: calc(var(--sp-14) + var(--sp-7));
  }
}
/* comments */
.comments-container {
  padding-block: var(--sp-10);
  padding-inline: var(--sp-4);
}

.comments__title {
  margin-bottom: var(--sp-14);
}

.comment {
  padding: var(--sp-10) var(--sp-8);
  position: relative;
}

.comment[data-hidden='true'] {
  display: none;
}

@media (min-width: 50em) {
  .comments-container {
    padding-inline: 0;
    overflow: hidden;
  }

  .comments__title {
    margin-bottom: var(--sp-16);
  }

  .carousel {
    display: flex;
    gap: 32px;
    margin-inline: var(--sp-4);
    height: 256px;
    padding-top: 36px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }

  .comment {
    height: 220px;
    width: 540px;
    flex-shrink: 0;
    scroll-snap-align: start;
  }

  .comment[data-hidden='true'] {
    display: block;
  }
}

.comment__header {
  margin-block: var(--sp-4);
}

.comment__avatar {
  width: 72px;
  height: 72px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(-50%);
}

.dot-indicators {
  margin-top: var(--sp-6);
  gap: var(--sp-1);
  justify-content: center;
}

.dot-indicators > * {
  aspect-ratio: 1;
  background-color: transparent;
  border: 1px solid hsl(var(--clr-primary-red));
  border-radius: 50%;
  cursor: pointer;
  padding: 0.25em;
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: hsl(var(--clr-primary-red));
  filter: brightness(1.3);
}

.dot-indicators > [aria-selected='true'] {
  background-color: hsl(var(--clr-primary-red));
}

.action-container {
  margin-top: var(--sp-12);
}

@media (min-width: 50em) {
  .dot-indicators {
    display: none;
  }
}

/* cta */
.bg-cta {
  background-image: url('images/bg-simplify-section-mobile.svg');
  background-repeat: no-repeat;
  background-position-y: center;
}

.cta-container {
  flex-direction: column;
  align-items: center;
  padding-block: 6rem;
  gap: var(--sp-8);
}

.cta__title {
  text-align: center;
  max-width: 20rem;
}

/* footer */
.footer-container {
  padding-top: var(--sp-12);
  padding-bottom: var(--sp-8);
  gap: var(--sp-12);
  justify-items: center;
}

.form {
  width: 100%;
  padding: var(--sp-2);
  gap: var(--sp-2);
}

.form__input {
  flex: 1;
  border-radius: var(--br-1);
  padding-inline: var(--sp-6);
  color: hsl(var(--clr-neutral-300));
  outline: none;
  border: none;
  font-size: var(--fs-300);
  line-height: 1;
}

.menu {
  justify-self: center;
  gap: clamp(6.5rem, -7.6818rem + 29.5454vw, 13rem);
  font-weight: 500;
}

.menu__nav {
  align-content: start;
  gap: var(--sp-2);
}

.menu__item:hover {
  color: hsl(var(--clr-primary-red));
}

.socials {
  justify-content: space-evenly;
  width: 100%;
}

.socials__icon {
  width: var(--sp-8);
  aspect-ratio: 1;
  fill: hsl(var(--clr-neutral-900));
}

.socials__icon:hover {
  fill: hsl(var(--clr-primary-red));
}

.bg-dark .logo {
  fill: hsl(var(--clr-neutral-900));
}

.copyright {
  color: hsl(var(--clr-neutral-300));
}

.attribution {
  text-align: center;
  color: hsl(var(--clr-neutral-300));
  padding-bottom: var(--sp-8);
}

.attribution a {
  color: hsl(var(--clr-primary-red));
}

@media (min-width: 50em) {
  .bg-cta {
    background-image: url('images/bg-simplify-section-desktop.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .cta-container {
    flex-direction: row;
    justify-content: space-between;
    padding-block: var(--sp-14);
  }

  .cta__title {
    text-align: initial;
    max-width: 28rem;
  }

  footer .button {
    padding-inline: var(--sp-6);
  }

  .form {
    grid-area: form;
    justify-self: right;
    padding: 0;
  }

  .form__input {
    padding-inline: var(--sp-4);
    max-width: 12.5rem;
  }

  .footer__logo {
    grid-area: logo;
    justify-self: start;
  }

  .menu {
    grid-area: menu;
    place-self: center;
  }

  .socials {
    grid-area: socials;
    gap: var(--sp-3);
    justify-self: start;
    align-self: end;
  }

  .socials__icon {
    width: var(--sp-6);
  }

  .copyright {
    grid-area: copy;
    place-self: end;
  }

  .footer-container {
    grid-template-areas: 'logo menu form' 'socials menu copy';
    justify-content: space-between;
  }
}
