:root {
  --clr-primary-red: 12 88% 59%;
  --clr-primary-blue: 228 39% 23%;
  --clr-neutral-100: 233 12% 13%;
  --clr-neutral-300: 227 12% 61%;
  --clr-neutral-700: 13 100% 96%;
  --clr-neutral-900: 0 0% 98%;

  --ff-sans: 'Be Vietnam Pro', sans-serif;

  --fs-500: 1rem;
  --fs-100: 0.6875rem;

  --sp-1: 0.25rem;
  --sp-2: 0.5rem;
  --sp-3: 0.75rem;
  --sp-4: 1rem;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* general */
body {
  background-color: hsl(var(--clr-neutral-900));
  font-family: var(--ff-sans);
  font-size: var(--fs-500);
}

.bg-dark {
  background-color: hsl(var(--clr-neutral-100));
  color: hsl(var(--clr-neutral-900));
}

/* TODO */
.container {
  padding-inline: var(--sp-4);
}

/* footer */
.attribution {
  font-size: var(--fs-100);
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
